---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <p>
    You can also find a complete list of my articles on
    <a href="{{ site.author.googlescholar }}">my Google Scholar profile</a>.
  </p>
{% endif %}

<h2>Selected Publications</h2>

{% assign pubs = site.publications | sort: "date" | reverse %}

{% for post in pubs %}
  {% capture current_year %}{{ post.date | date: "%Y" }}{% endcapture %}
  {% capture next_year %}{{ post.next.date | date: "%Y" }}{% endcapture %}

  {% if forloop.first %}
    <h3>{{ current_year }}</h3>
  {% endif %}

  {% include archive-single.html %}

  {% unless forloop.last %}
    {% capture following_year %}{{ pubs[forloop.index].date | date: "%Y" }}{% endcapture %}
    {% if current_year != following_year %}
      <h3>{{ following_year }}</h3>
    {% endif %}
  {% endunless %}
{% endfor %}



