{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}
{% else %}
  {% assign author = site.author %}
{% endif %}

{% assign is_french = false %}
{% if page.url contains '/fr/' %}
  {% assign is_french = true %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person">

  <div class="author__avatar">
    {% if author.avatar contains "://" %}
      <img src="{{ author.avatar }}" alt="{{ author.name }}" fetchpriority="high" />
    {% else %}
      <img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" class="author__avatar" alt="{{ author.name }}" fetchpriority="high" />
    {% endif %}
  </div>

  <div class="author__content">
    <h3 class="author__name">{{ author.name }}</h3>
    {% if author.pronouns %}
      <p class="author__pronouns">{{ author.pronouns }}</p>
    {% endif %}
    {% if author.bio %}
      <p class="author__bio">
        {% if is_french and author.bio_fr %}
          {{ author.bio_fr }}
        {% else %}
          {{ author.bio }}
        {% endif %}
      </p>
    {% endif %}
  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--inverse">Follow</button>
    <ul class="author__urls social-icons">

      {% if author.location %}
        <li class="author__item">
          <i class="fas fa-fw fa-location-dot icon-pad-right" aria-hidden="true"></i>
          <span>{{ author.location }}</span>
        </li>
      {% endif %}

      {% if author.employer %}
        <li class="author__item">
          <i class="fas fa-fw fa-building icon-pad-right" aria-hidden="true"></i>
          <a href="{{ author.uri }}" target="_blank" rel="noopener noreferrer">{{ author.employer }}</a>
        </li>
      {% endif %}

      {% if author.academia %}
        <li class="author__item">
          <i class="fas fa-fw fa-university icon-pad-right" aria-hidden="true"></i>
          <a href="{{ author.academia }}" target="_blank" rel="noopener noreferrer">
            {% if is_french %}
              CEREMADE (Université Paris Dauphine – PSL)
            {% else %}
              CEREMADE (Université Paris Dauphine – PSL)
            {% endif %}
          </a>
        </li>
      {% endif %}

      {% if author.email %}
        <li class="author__item">
          <i class="fas fa-fw fa-envelope icon-pad-right" aria-hidden="true"></i>
          <a href="mailto:{{ author.email }}">
            {% if is_french %}E-mail{% else %}Email{% endif %}
          </a>
        </li>
      {% endif %}

      {% if author.arxiv %}
        <li class="author__item">
          <i class="ai ai-arxiv ai-fw icon-pad-right"></i>
          <a href="{{ author.arxiv }}">arXiv</a>
        </li>
      {% endif %}

      {% if author.googlescholar %}
        <li class="author__item">
          <i class="ai ai-google-scholar ai-fw icon-pad-right"></i>
          <a href="{{ author.googlescholar }}">Google Scholar</a>
        </li>
      {% endif %}

      {% if author.inspire-hep %}
        <li class="author__item">
          <i class="ai ai-inspire ai-fw icon-pad-right"></i>
          <a href="{{ author.inspire-hep }}">INSPIRE-HEP</a>
        </li>
      {% endif %}

      {% if author.impactstory %}
        <li class="author__item">
          <i class="ai ai-impactstory ai-fw icon-pad-right"></i>
          <a href="{{ author.impactstory }}">Impactstory</a>
        </li>
      {% endif %}

      {% if author.orcid %}
        <li class="author__item">
          <i class="ai ai-orcid ai-fw icon-pad-right"></i>
          <a href="{{ author.orcid }}">ORCID</a>
        </li>
      {% endif %}

      {% if author.pubmed %}
        <li class="author__item">
          <i class="ai ai-pubmed ai-fw icon-pad-right"></i>
          <a href="{{ author.pubmed }}">PubMed</a>
        </li>
      {% endif %}

      {% if author.researchgate %}
        <li class="author__item">
          <i class="fab fa-fw fa-researchgate icon-pad-right" aria-hidden="true"></i>
          <a href="{{ author.researchgate }}">ResearchGate</a>
        </li>
      {% endif %}

      {% if author.scopus %}
        <li class="author__item">
          <i class="ai ai-scopus ai-fw icon-pad-right"></i>
          <a href="{{ author.scopus }}">Scopus</a>
        </li>
      {% endif %}

      {% if author.semantic %}
        <li class="author__item">
          <i class="ai ai-semantic-scholar ai-fw icon-pad-right"></i>
          <a href="{{ author.semantic }}">Semantic Scholar</a>
        </li>
      {% endif %}

      {% if author.ssrn %}
        <li class="author__item">
          <i class="ai ai-ssrn ai-fw icon-pad-right"></i>
          <a href="{{ author.ssrn }}">SSRN</a>
        </li>
      {% endif %}

      {% if author.zotero %}
        <li class="author__item">
          <i class="ai ai-zotero ai-fw icon-pad-right"></i>
          <a href="{{ author.zotero }}">Zotero</a>
        </li>
      {% endif %}

      {% if author.bitbucket %}
        <li class="author__item">
          <i class="fab fa-fw fa-bitbucket icon-pad-right" aria-hidden="true"></i>
          <a href="https://bitbucket.org/{{ author.bitbucket }}">Bitbucket</a>
        </li>
      {% endif %}

      {% if author.codepen %}
        <li class="author__item">
          <i class="fab fa-fw fa-codepen icon-pad-right" aria-hidden="true"></i>
          <a href="https://codepen.io/{{ author.codepen }}">CodePen</a>
        </li>
      {% endif %}

      {% if author.dribbble %}
        <li class="author__item">
          <i class="fab fa-fw fa-dribbble icon-pad-right" aria-hidden="true"></i>
          <a href="https://dribbble.com/{{ author.dribbble }}">Dribbble</a>
        </li>
      {% endif %}

      {% if author.github %}
        <li class="author__item">
          <i class="fab fa-fw fa-github icon-pad-right" aria-hidden="true"></i>
          <a href="https://github.com/{{ author.github }}">GitHub</a>
        </li>
      {% endif %}

      {% if author.kaggle %}
        <li class="author__item">
          <i class="fab fa-fw fa-kaggle icon-pad-right" aria-hidden="true"></i>
          <a href="https://kaggle.com/{{ author.kaggle }}">Kaggle</a>
        </li>
      {% endif %}

      {% if author.stackoverflow %}
        <li class="author__item">
          <i class="fab fa-fw fa-stack-overflow icon-pad-right" aria-hidden="true"></i>
          <a href="https://www.stackoverflow.com/users/{{ author.stackoverflow }}">Stackoverflow</a>
        </li>
      {% endif %}

      {% if author.linkedin %}
        <li class="author__item">
          <i class="fab fa-fw fa-linkedin icon-pad-right" aria-hidden="true"></i>
          <a href="https://www.linkedin.com/in/{{ author.linkedin }}">LinkedIn</a>
        </li>
      {% endif %}
    </ul>
  </div>
</div>