{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}
{% else %}
  {% assign author = site.author %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person">

  <div class="author__avatar">
    {% if author.avatar contains "://" %}
      <img src="{{ author.avatar }}" alt="{{ author.name }}" fetchpriority="high" />
    {% else %}
      <img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" class="author__avatar" alt="{{ author.name }}" fetchpriority="high" />
    {% endif %}
  </div>

  <div class="author__content">
    <h3 class="author__name">{{ author.name }}</h3>
    {% if author.pronouns %}
      <p class="author__pronouns">{{ author.pronouns }}</p>
    {% endif %}
    {% if author.bio %}
      <p class="author__bio">{{ author.bio }}</p>
    {% endif %}
  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--inverse">Follow</button>
    <ul class="author__urls social-icons">

      {% if author.location %}
        <li>
          <span class="author__row">
            <i class="fas fa-fw fa-location-dot" aria-hidden="true"></i>
            <span class="author__text">{{ author.location }}</span>
          </span>
        </li>
      {% endif %}

      {% if author.employer %}
        <li>
          <span class="author__row">
            <i class="fas fa-fw fa-building" aria-hidden="true"></i>
            {% if author.uri %}
              <a class="author__text" href="{{ author.uri }}" target="_blank" rel="noopener noreferrer">{{ author.employer }}</a>
            {% else %}
              <span class="author__text">{{ author.employer }}</span>
            {% endif %}
          </span>
        </li>
      {% endif %}

      {% if author.academia %}
        <li>
          <span class="author__row">
            <i class="fas fa-fw fa-university" aria-hidden="true"></i>
            <a class="author__text" href="{{ author.academia }}" target="_blank" rel="noopener noreferrer">Université Paris Dauphine – PSL</a>
          </span>
        </li>
      {% endif %}

      {% if author.email %}
        <li>
          <span class="author__row">
            <i class="fas fa-fw fa-envelope" aria-hidden="true"></i>
            <a class="author__text" href="mailto:{{ author.email }}">{{ site.data.ui-text[site.locale].email_label | default: "Email" }}</a>
          </span>
        </li>
      {% endif %}

      {% if author.googlescholar %}
        <li>
          <span class="author__row">
            <i class="ai ai-google-scholar ai-fw" aria-hidden="true"></i>
            <a class="author__text" href="{{ author.googlescholar }}" target="_blank" rel="noopener noreferrer">Google Scholar</a>
          </span>
        </li>
      {% endif %}

      {% if author.github %}
        <li>
          <span class="author__row">
            <i class="fab fa-fw fa-github" aria-hidden="true"></i>
            <a class="author__text" href="https://github.com/{{ author.github }}" target="_blank" rel="noopener noreferrer">GitHub</a>
          </span>
        </li>
      {% endif %}

      {% if author.linkedin %}
        <li>
          <span class="author__row">
            <i class="fab fa-fw fa-linkedin" aria-hidden="true"></i>
            <a class="author__text" href="https://www.linkedin.com/in/{{ author.linkedin }}" target="_blank" rel="noopener noreferrer">LinkedIn</a>
          </span>
        </li>
      {% endif %}

      {% if author.arxiv %}
        <li>
          <span class="author__row">
            <i class="ai ai-arxiv ai-fw" aria-hidden="true"></i>
            <a class="author__text" href="{{ author.arxiv }}" target="_blank" rel="noopener noreferrer">arXiv</a>
          </span>
        </li>
      {% endif %}

      {% if author.orcid %}
        <li>
          <span class="author__row">
            <i class="ai ai-orcid ai-fw" aria-hidden="true"></i>
            <a class="author__text" href="{{ author.orcid }}" target="_blank" rel="noopener noreferrer">ORCID</a>
          </span>
        </li>
      {% endif %}

    </ul>
  </div>
</div>